body {
  background-color: white;
}
* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

.centerdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container {
  padding: 16px 32px;
  text-align: center;
  display: inline-flex;
  border: 3px solid black;
  background-color: #dfdfdf;
  flex-direction: column;
}
.login-section {
  margin: 16px;
}
#login-form {
  margin: auto;
  font-size: large;
}
#login-form input[type="submit"] {
  margin: 16px;
}
#login-form label {
  margin: auto;
  display: block;
}
#createAccountLink {
  margin-top: 10px;
}
#create-account {
  margin: auto;
  display: block;
  font-size: large;
}
#create-account input[type="submit"] {
  margin: 16px;
}
#create-account label {
  display: block;
  margin: auto;
}
#error {
  display: block;
  color: red;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px 80px 8px 8px;
}
tr:nth-child(even) {
  background-color: lightblue;
}
#contact-table {
  padding: 100px 0px 0px 0px;
  background-color: white;
}
#contact-table th {
  background-color: grey;
}
